<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to 99 cats <%= @user.username %>!</h1>
    <p>
      Thank you for joining the 99 cats community. Your username is
      <%= @user.username %>.
    </p>
    <p>
      Please login to 99 cats here: <%= @url %>
    </p>
  </body>
</html>
